h2 {
  font-family: "Playfair Display";
  font-weight: normal;
}

p {
  font-family: Montserrat, serif;
  font-style: normal;
}

span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 0.9em;
}

