<div class="custom-container mt-3 mx-4">
  <h3>My Orders</h3>
  <div *ngIf="orders.length > 0;else noOrders" class="table-responsive">
    <table class="table">
      <thead>
      <th>Id</th>
      <th class="w-25">Status</th>
      <th>Products</th>
      <th>Shipping Details</th>
      <th>Total</th>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.OrderId}}</td>
        <td>
          <div class="d-flex flex-column">
            <span class="badge badge-pill" [ngClass]="{'badge-warning': order.Status==='PENDING',
            'badge-success': order.Status ==='CONFIRMED' || order.Status === 'COMPLETED',
            'badge-info': order.Status === 'INPROGRESS',
            'badge-light': order.Status === 'SHIPPING',
            'badge-secondary': order.Status === 'CANCELLED'}">
            {{order.Status | lowercase}}
            </span>
            <span class="text-warning text-sm" *ngIf="order.Status === 'PENDING'">
              *The order awaits to be confirmed by an administrator.
            </span>
            <div *ngIf="order.Status === 'PENDING'"></div>
          </div>
        </td>
        <td>
          <div *ngFor="let product of order.OrderItems"
               class="d-flex justify-content-between">
            <div>
              <button type="button"
                      class="btn btn-link btn-sm"
                      [ngbPopover]="image64">
                {{product.product.Name}}</button>
            </div>
            <div>$ {{product.product.Price}}</div>
            <div>{{product.Quantity}}</div>
            <ng-template #image64 >
              <img src="{{product.product.ImageRef}}" width="200" height="200"/>
            </ng-template>
          </div>
        </td>
        <td class="address-info d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span>First Name:</span>
            <span>{{order.ShippingDetailsModel.FirstName}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Last Name:</span>
            <span> {{order.ShippingDetailsModel.LastName}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Phone Number:</span>
            <span> {{order.ShippingDetailsModel.PhoneNumber}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Country:</span>
            <span> {{order.ShippingDetailsModel.Country}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>City:</span>
            <span>{{order.ShippingDetailsModel.City}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>County/Region:</span>
            <span> {{order.ShippingDetailsModel.County_Region}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Postal Code:</span>
            <span> {{order.ShippingDetailsModel.PostalCode}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>Address Line:</span>
            <span> {{order.ShippingDetailsModel.AddressLine}}</span>
          </div>
        </td>
        <td>{{order.TotalPrice}}</td>
      </tr>
      </tbody>
    </table>
    <app-pagination [pageSize]="pageSize"
                    [page]="page"
                    [totalPages]="totalElements"
                    (pageChanged)="pageChanged($event)"
                    (pageSizeChanged)="pageSizeChanged($event)"></app-pagination>
  </div>
</div>
<ng-template #noOrders>
  <i>There are no registered orders </i>
</ng-template>
