<div class="jumbotron">
    <h1>Rotaract E-shop Server</h1>
    <p class="lead">Click the Button below to redirect to the Endpoint Documentation</p>
    <p><a href="~/swagger/ui/index" style="background-color: greenyellow; border-color: greenyellow; color: black" class="btn btn-primary btn-lg">Direct to Swagger Documentation &raquo;</a></p>
</div>